# pycharm
.idea

# python
.venv
venv
__pycache__
*.pyc
.env

# allure
allure-results
allure-report

# testing artifacts
*.html
*.json
videos
tracing

# playwright browsers cache
.pw-browsers/

# coverage
coverage.html
coverage-results
coverage-report.json
coverage-history.json
